/*font famil start here*/
@font-face {
    font-family: 'AllerBd';
    src: url(../fonts/aller_bd-webfont.eot);
    src: url(../fonts/aller_bd-webfontd41d.eot?#iefix) format('embedded-opentype'), url(../fonts/aller_bd-webfont.woff) format('woff'), url(../fonts/aller_bd-webfont.ttf) format('truetype'), url(../fonts/aller_bd-webfont.svg#allerbold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AllerBdI';
    src: url(../fonts/aller_bdit-webfont.eot);
    src: url(../fonts/aller_bdit-webfontd41d.eot?#iefix) format('embedded-opentype'), url(../fonts/aller_bdit-webfont.woff) format('woff'), url(../fonts/aller_bdit-webfont.ttf) format('truetype'), url(../fonts/aller_bdit-webfont.svg#allerbold_italic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AllerI';
    src: url(../fonts/aller_it-webfont.eot);
    src: url(../fonts/aller_it-webfontd41d.eot?#iefix) format('embedded-opentype'), url(../fonts/aller_it-webfont.woff) format('woff'), url(../fonts/aller_it-webfont.ttf) format('truetype'), url(../fonts/aller_it-webfont.svg#alleritalic) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AllerLtI';
    src: url(../fonts/aller_ltit-webfont.eot);
    src: url(../fonts/aller_ltit-webfontd41d.eot?#iefix) format('embedded-opentype'), url(../fonts/aller_ltit-webfont.woff) format('woff'), url(../fonts/aller_ltit-webfont.ttf) format('truetype'), url(../fonts/aller_ltit-webfont.svg#aller_lightitalic) format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AllerLt';
    src: url(../fonts/aller_lt-webfont.eot);
    src: url(../fonts/aller_lt-webfontd41d.eot?#iefix) format('embedded-opentype'), url(../fonts/aller_lt-webfont.woff) format('woff'), url(../fonts/aller_lt-webfont.ttf) format('truetype'), url(../fonts/aller_lt-webfont.svg#aller_lightregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aller';
    src: url(../fonts/aller_rg-webfont.eot);
    src: url(../fonts/aller_rg-webfontd41d.eot?#iefix) format('embedded-opentype'), url(../fonts/aller_rg-webfont.woff) format('woff'), url(../fonts/aller_rg-webfont.ttf) format('truetype'), url(../fonts/aller_rg-webfont.svg#allerregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AllerDp';
    src: url(../fonts/allerdisplay-webfont.eot);
    src: url(../fonts/allerdisplay-webfontd41d.eot?#iefix) format('embedded-opentype'), url(../fonts/allerdisplay-webfont.woff) format('woff'), url(../fonts/allerdisplay-webfont.ttf) format('truetype'), url(../fonts/allerdisplay-webfont.svg#aller_displayregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

/*font family import end*/

* {
    font-family: 'Aller' !important;
}

.fa {
    font-family: FontAwesome !important;
}

.glyphicon {
    font-family: glyphicons !important;
}

body {
    overflow-x: hidden;
}


/*.page_row_box
{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    !* optional *!
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
 .page_ist_div {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
}

 .page_2nd_div {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
}*/









/*loader css start here*/

.loader{
    background: white none repeat scroll 0 0;
    height: 830px;
    opacity: 0.7;
    position: fixed;
    width: 100%;
    z-index: 1200;
    top: 0;
    display: none;
}
.loader-img{
    left: 50%;
    position: absolute;
    top: 35%;
    width: 4%;
}




/*loader css end here*/
/*
----------------------------------------------------

    Footer start here

----------------------------------------------------
*/
/*footer start here*/
.footerTop {
    background: url(../images/elem-new.png);
    height: 107px;
    background-size: 100% 100%;
}

.footer-main {
    background-color: #000000;
    /*margin-top: 20px;*/
    /* padding-top: 40px;*/
}

.footer-main-1 {
    padding: 30px 0 40px;
}

.footer-contact {
    color: #FFF;
    border: 2px solid #FFF;
    font: 18px/135% "Aller", Arial, Helvetica, sans-serif;
    display: inline-block;
    padding: 10px 35px;
}
.footer-contact:hover{
    background: #AB1522;
    color: #fff;
}

.footer-p-text {
    color: #ffffff;
    font: 14px "AllerLt", Arial, Helvetica, sans-serif;
    margin: 0 0 5px;
    margin-top: 10px;

}

.footer-comp-box {
    background: #000 none repeat scroll 0 0;
    border: 2px solid #fff;
    margin-left: 30%;
    padding: 15px;
    text-align: center;
    width: 76%;
}

.footer-comp-text {
    margin-bottom: 5px !important;
    color: #fff;
}

.social_footer {
    font-size: 16px;
    margin-right: 6px;
    margin-left: 6px;
}

.social_icons_footer {
    margin-top: 6px;
}

.social_icons_footer > a {
    text-decoration: none !important;
}

/*footer end here*/

/*

----------------------------------------------------

    Footer end here

----------------------------------------------------

*/


/*
----------------------------------------------------

    header start here

----------------------------------------------------
*/
.header_submenu_ancor
{
    text-decoration: none!important;
    color:#fff;
}
.header_submenu_ancor:hover
{
    color: #fff;
}
.header-ancor
{
    text-decoration: none!important;
    color: #333!important;
}
.header-ancor:hover
{
    color: #fff!important;
}
.header_ancor_menu
{
    color: #ffffff;
}
.header_ancor_menu:hover
{
    color: #ffffff;
}

.menuitem {
    text-transform: uppercase;
}

.nogutter {
    padding: 0;
}

.clear {
    clear: both;
}

.headerbox {
    height: 89px;
}

.menubox {
    float: right;
    height: 100%;
    margin: 0;
}

.menuitem {
    list-style: none;
    float: left;
    padding: 30px 18px;
    padding-bottom: 40px;
}

.social {
    cursor: pointer;
    float: right;
    margin-right: 11px;
    margin-top: 31px;
}

.logo {
    padding-left: 10px;
    padding-top: 2px;
}

.drawericon {
    /*background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;*/
    color: white;
    cursor: pointer;
    float: right;
}

.strip {
    height: 12px;
    background: url("../images/strip.png");
    width: 100%;
}
.strip_ancor:hover{
    color: #333;
    text-decoration: none!important;
}

/*social right side bar start here*/
.rgt_fixed {
    top: 15%;
    width: 80px;
}

.rgt_fixed {
    position: fixed;
    right: -1px;
    top: 20%;
    width: 65px;
    z-index: 993;
}

.crpt_film, .crpt_film.second {
    padding: 0 18px;
}

.crpt_film {
    background: #e3e3e3 none repeat scroll 0 0;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    clear: both;
    color: #000;
    display: block;
    height: 78px;
    padding: 0 12px;
    transition: all 0.3s ease-out 0s;
}

.crpt_film, button, input[type="submit"] {
    cursor: pointer;
}

a {
    cursor: pointer;
}

#scroller, a, button, input[type="radio"], input[type="submit"], input[type="text"], input[type="textbox"], select, textarea {
    outline: 0 none;
}

.form-text, .form-textarea, .nav a:hover, .toggleMenu:hover, a {
    text-decoration: none;
}

.crpt_film i.film {
    background-position: 0 -250px;
    margin-top: 0;
}

.crpt_film i {
    display: inline-block;
    height: 40px;
    transform: translateZ(0px);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    width: 48px;
}

.sprite_social {
    background-image: url("../images/sprite.png");
    background-repeat: no-repeat;
}

.sprite {
    background-image: url("../images/sprite.png");
    background-repeat: no-repeat;
}

.crpt_film .cptext {
    font-size: 10px;
    text-align: center;
}

.crpt_film .cptext, .hdr_rgt ul li a, .nav a, .nav > li > a {
    text-transform: uppercase;
}

.crpt_film, .crpt_film.second {
    padding: 0 18px;
}

.crpt_film.second {
    padding-left: 12px;
}

.crpt_film, .crpt_film.second {
    padding: 0 18px;
}

.crpt_film i.qenqry {
    background-position: -58px -262px;
    margin-top: 4px;
}

.crpt_film i {
    display: inline-block;
    height: 40px;
    transform: translateZ(0px);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    width: 48px;
}

.crpt_film .cptext {
    font-size: 10px;
    text-align: center;
}

.crpt_film .cptext, .hdr_rgt ul li a, .nav a, .nav > li > a {
    text-transform: uppercase;
}

.crpt_film.third {
    padding-left: 21px;
}

.crpt_film.third {
    border-bottom: 1px solid #fff;
    padding-left: 17px;
}

.crpt_film, .crpt_film.second {
    padding: 0 18px;
}

.crpt_film i.ios {
    background-position: 0 1px;
    margin-top: 7px;
}

.crpt_film i.android {
    background-position: -107px 0;
    margin-top: 7px;
}

.crpt_film, .crpt_film.second {
    padding: 0 11px;
}

.home-banner-slider .bx-wrapper .bx-next, .home-banner-slider .bx-wrapper .bx-next:hover {
    right: 72px;
}

.sprite_social {
    background-image: url("../images/sprite_social.png");
    background-repeat: no-repeat;
}

.sprite_quote {
    background-image: url("../images/icons8-FAQ Filled-40.png");
    background-repeat: no-repeat;
    margin-top: 10px;
}

.req_quote {
    background-image: url("../images/icons8-Quote Filled-40.png");
    background-repeat: no-repeat;
    margin-top: 10px;
}

/*social right side bar end here*/

* {
    margin: 0;
    padding: 0;
}

/*toggle rotate header start here*/
.right_nav_bars {
    float: right;
}

/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 30px;
    height: 45px;
    position: relative;
    margin: 28px auto 50px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span, #nav-icon2 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #AB1522;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 10px;
}

#nav-icon1 span:nth-child(3) {
    top: 20px;
}

#nav-icon2 span:nth-child(1) {
    top: 0px;
}

#nav-icon2 span:nth-child(2) {
    top: 10px;
}

#nav-icon2 span:nth-child(3) {
    top: 20px;
}

#nav-icon1.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);

}

#nav-icon1.open span:nth-child(2) {
    top: 10px;
    left: -10px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

#nav-icon1.open span:nth-child(3) {
    top: 10px;
    left: 10px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

/*toggle rotate header end here*/

.social_icons {
    float: right;
}

/*small devices menu list start here*/
#nav-icon2 {
    cursor: pointer;
    display: none;
}

.main-menu-small {
    display: none;
    margin-left: 3%;
    position: absolute;
    width: 90%;
    z-index: 990;
    margin-top: 60px;
    z-index: 999!important;
}

.small-menu-ancor {
    text-decoration: none !important;
    color: #fff;
}

.small-submenu-ancor {
    text-decoration: none !important;
    color: #fff;
}

.small-menu-ul {

    list-style-type: none;
    background: rgba(74, 66, 61, 0.9) none repeat scroll 0 0;
}

.small-menu-li {
    border-bottom: 1px solid #333;
    color: #fff;
    cursor: pointer;
    list-style-type: none;
    padding: 15px;
}

.small-submenu-ul {
    list-style-type: none;
    background: rgba(74, 66, 61, 0.9) none repeat scroll 0 0;
}

.small-submenu-li {
    border-bottom: 1px solid #333;
    color: #fff;
    cursor: pointer;
    list-style-type: none;
    padding: 15px;
}

.small-menu-ul-active {
    z-index: 991;
}

.small-submenu-ul-active {
    z-index: 991;
}

.small-menu-li:hover .small-menu-ancor {
    color: #fff;
}

.small-submenu-li:hover .small-submenu-ancor {
    color: #fff;
}

.small-submenu-ul {
    list-style-type: none;
    display: none;
}

.small-menu-chleft {
    margin-right: 5px;
}

/*small devices menu list end  here*/
/*header submenu start here*/
.sub_menu_box {
    background: rgba(29, 28, 29, 0.9) none repeat scroll 0 0;
    left: 116px;
    list-style: outside none none;

    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 89px;
    width: 100%;
    z-index: 99;
    display: none;
}

.sub_menu {
    float: left;
    margin-top: 0px;
    padding: 20px 15px;
    border: medium none;
    list-style: outside none none;
    text-align: left;
    color: #fff;
    padding-top: 5px;
    width: 30%;
}

.sub_menu2 {
    float: left;
    margin-top: 0px;
    padding: 20px 15px;
    border: medium none;
    list-style: outside none none;
    text-align: left;
    color: #fff;
    padding-top: 5px;
    width: 30%;
}

.sub_menu3 {
    float: left;
    margin-top: 0px;
    padding: 20px 15px;
    border: medium none;
    list-style: outside none none;
    text-align: left;
    color: #fff;
    padding-top: 5px;
    width: 30%;
}

.sub_menu4 {
    float: left;
    margin-top: 0px;
    padding: 20px 15px;
    border: medium none;
    list-style: outside none none;
    text-align: left;
    color: #fff;
    padding-top: 5px;
    width: 100%;
}

.sub_menu5 {
    float: left;
    margin-top: 0px;
    padding: 20px 15px;
    border: medium none;
    list-style: outside none none;
    text-align: left;
    color: #fff;
    padding-top: 5px;
    width: 60%;
}

.sub_menu6 {
    float: left;
    margin-top: 0px;
    padding: 20px 15px;
    border: medium none;
    list-style: outside none none;
    text-align: left;
    color: #fff;
    padding-top: 5px;
    width: 40%;
}

.sub_menu_item {
    margin-top: 5px;
    text-align: left;
    float: left;
    font-size: 14px;
    list-style: outside none none;
    width: 100%;
    cursor: pointer;
    padding: 10px;
    color: #fff;
}

.sub_menu_item:hover {
    background: #000;
}

.menuitem:hover {
    background: rgb(92, 85, 80) none repeat scroll 0 0;
    color: #fff;
}
.menuitem:hover .header-ancor{
    color: #fff!important;
}
.menuitem:hover .sub_menu_box {
    display: block !important;
}
/*header submenu end here*/
.slantingdiv {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/elem-new.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: 100% 100% !important;
    bottom: 0;
    height: 107px;
    position: absolute;
    z-index: 100;
}


/*
----------------------------------------------------

    header end here

----------------------------------------------------
*/


/*
----------------------------------------------------

    index start  here

----------------------------------------------------
*/


/*index services tab start here*/
.index_slider_controller{
    font-size: 30px;
    margin-top: 190px;
}
.index_carousal_indicator{
    bottom: 30px;
    z-index: 997!important;
}
.index_carousal_indicator .active
{
    background-color: #fff!important;
    border: #fff!important;

}
.index_carousal_indicator li
{
    background-color: #fff!important;
    border: #fff!important;

}
.services-box-m1
{
    margin-top: 0px!important;
}
.headings {
    color: #C53163;
    font: 32px/135% "AllerRg", Arial, Helvetica, sans-serif;
/* margin: 0 0 30 px;*/
    padding: 0;
    text-align: center;
}

.services_head_box {
    margin-top: 5px;
}

.heading-line {
    height: 5px;
    color: #ab1522;
    width: 20px;
    margin-top: 5px;
}

.services-innerbox {
    height: 150px;
    padding: 10px;
    cursor: pointer;
}

.services-box-row {
    margin-top: 15px;
}

.services-innerbox:hover .service-name {
    opacity: 0;
    transition: all 0.2s;
}

.services-innerbox:hover .service-description {
    opacity: 1;
    transition: opacity 0.2s;
}

.mini-svg {
    position: absolute;
    right: 20px;
    bottom: 5px;
    width: 40px;
    height: auto;
    opacity: 0.4;
    transition: all 0.2s;
}

.services-innerbox:hover .mini-svg {
    width: 100px;
    height: auto;
    opacity: 0.2;
    transition: all 0.1s;
}

.service-cart-box span {
    background: #d33152 url(../images/go-to-arrow.png) no-repeat scroll 5px 5px/ 20px;
    bottom: 15px;
    cursor: pointer;
    height: 30px;
    opacity: 0;
    position: absolute;
    right: -3px;
    width: 30px;
    transition: opacity 0.2s;
}

.services-innerbox:hover span {
    opacity: 1;
    transition: opacity 0.2s;
}

.service-cart-box {
    height: 150px;
}

.services-box-m1 {
    margin-top: 10px;
    margin-bottom: 40px;
}

.service-name {
    color: #FFFFFF;
    font: 20px/135% "AllerLt", Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 22px;
    margin: 0;
    transform: translateY(-50%);
    transition: all 0.2s;
}

.service-description {
    position: absolute;
    top: 50%;
    left: 6px;
    margin: 0;
    opacity: 0;
    padding-left: 20px;
    padding-right: 20px;
    transform: translateY(-50%);
    transition: all 0.2s;
}

.service-description > h3 {
    color: #FFFFFF;
    font: 20px/135% "AllerLt", Arial, Helvetica, sans-serif;
    margin: 0 0 10px;
    text-align: left;
}

.service-description > p {
    color: #FFFFFF;
    font: 14px/135% "AllerLt", Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: left;
}

.testimonial_slider{
    height: 110px;
}

/*index services tab end  here*/

.intoSmall{
    text-transform: lowercase!important;
}
/*slider cart start here*/

.slider_bottom {
    background: url(../images/elem-new.png);
    height: 107px!important;
    background-size: 100% 100%;
}
.svg-element-slider-bottom {
    bottom: 0;
    height: auto;
    position: absolute;
    width: 100%;
    z-index: 991!important;
}
.cart_view {
    width: 420px;
    position: absolute;
    top: 70px;
    background: none repeat scroll 0 0 rgba(211, 49, 82, 0.8);
    left: 88px;

    margin: 0;
    padding: 33px;
    z-index: 99;
    cursor: pointer;
}

.slider_logo {
    height: 150px;
    width: 400px;
}

.cart_view_logo {
    width: 420px;
    position: absolute;
    top: 10px;
    left: 88px;
    margin: 0;
    padding: 33px;
    z-index: 99;
    cursor: pointer;
}

.slider_cart_heading {
    font: normal 26px/130% 'AllerLt', Arial, Helvetica, sans-serif;
    color: #fff;
    min-height: 80px;
    text-align: left;
    padding: 0 0 10px 0;
    margin: 0;
}

.slider_cart_desc {
    font: normal 19px/130% 'AllerLt', Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: left;
    padding: 0;
    margin: 0;
    min-height: 74px;
}
.slider_images{
    max-height:100%!important;
    max-width:100%!important;
}
.web-services-slider-data{
    display: none;
}

/*slider cart end here*/
/*quick links index start here*/
.quick_ancor {
    text-decoration: none !important;
}

.news_box {
    padding: 10px;
}

.quick_links_heading {
    background: #ab1522;
    border-bottom: 3px solid #770f18;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    position: relative;
    padding-left: 15px;
    height: 43px;
    line-height: 43px;
}

.quick_heading {
    padding-left: 5px;
}

.quick_links_ul {
    list-style-type: none;
    padding-left: 5px;
}

.quick_menu_items {
    padding: 3px;
    border-bottom: #ccc 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: .25s;
    color: #333;
}

.quick_menu_items:hover {
    background: #e02b26;
    color: #fff;
    transition: all 700ms linear 0s;
}

.quick_menu_items:hover .quick_play {
    color: #fff;
    margin-left: 8px;
    transition: all 700ms linear 0s;
}
.quick_menu_items:hover .quick_newimg{
    background: rgba(0, 0, 0, 0) url(../images/New_icons1.gif) no-repeat scroll 0 0!important;
}
.quick_menu_items:hover .quick_text{
    color:#fff;
}
.quick_play {
    color: #AB1522;
    font-size: 14px;
}

.quick_text {
    margin-left: 5px;
    font-size: 14px;
    color: #333;
}

.quick_links_box {
    /* max-height: 278px;
     min-height: 100px;
     overflow-y: auto;*/
}

.quick_newimg {
    background: rgba(0, 0, 0, 0) url(../images/New_icons.gif) no-repeat scroll 0 0;
    height: 30px;
    width: 32px;
    position: absolute;
}

/*quick links index end here*/

/*whats new index start here*/
.gallery-img {
    height: 120px!important;
    width: 135px!important;
}
.strip-box
{
    padding-right: 3px;
}
.whats_new_heading {
    background: #ab1522;
    border-bottom: 3px solid #770f18;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    position: relative;
    padding-left: 15px;
    height: 43px;
    line-height: 43px;
}

.whats_new_box {
    /*max-height: 278px;
    min-height: 100px;
    overflow-y: auto;*/
}

.whats_heading {
    padding-left: 5px;
}

.whats_arrow {
    color: #AB1522;
    font-size: 14px;
}

.whats_text {
    margin-left: 5px;
    font-size: 14px;
    color: #333;
}

.whats_new_ul {
    list-style-type: none;
    padding-left: 5px;
}

.whats_menu_items {
    padding: 3px;
    border-bottom: #ccc 1px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: .25s;
    color: #333;
}

.whats_menu_items:hover {
    background: #e02b26;
    color: #fff;
    transition: all 700ms linear 0s;
}

.whats_menu_items:hover .whats_arrow {
    color: #fff;
    margin-left: 8px;
    transition: all 700ms linear 0s;
}
.whats_menu_items:hover .whats_text {
    color: #fff;
}
.whats_menu_items:hover .whats_newimg {
    background: rgba(0, 0, 0, 0) url(../images/New_icons1.gif) no-repeat scroll 0 0;
}

.whats_newimg {
    background: rgba(0, 0, 0, 0) url(../images/New_icons.gif) no-repeat scroll 0 0;
    height: 30px;
    width: 32px;
    position:absolute;
}

/*whats new ins=dex end here*/
/*banner index start here*/
.banner_image_box {
    margin-top: 30px;
    border: 1px solid silver;
}

.banner_image {
    background-size: 100% 100%;
    float: left;
}

/*banner index end here*/

/*career box index start here*/
.career_text_heading
{
    color: #ffffff;
    margin: 0 0 20px;
    padding: 0;
}
.career_box {
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    rgba(0, 0, 0, 0.55) url("../images/shutterstock_433408534.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /*min-height: 390px;*/
}

.career_box_row {
    padding-top: 130px;
    padding-bottom: 100px;
}

.career_leftinner {
    float: left;
    margin-left: 15%;
    padding-top: 130px;
}

.career_text {
    color: #ffffff;
    font: 40px/135% "Aller", Arial, Helvetica, sans-serif;
    margin: 0 0 20px;
    padding: 0;
}

.career_desc {
    color: #ffffff;
    font: 20px/135% "AllerLt", Arial, Helvetica, sans-serif;

    padding: 0;
}

.career_learn_a {
    background: #d33152 url("../images/go-to-arrow.png") no-repeat scroll 98px 8px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin-top: 8px;
    padding: 10px 20px 10px 10px;
    transition: all 0.4s ease-in-out 0.1s;
    width: 130px;
    text-decoration: none;
}
.career_learn_a:hover{
    color: #fff!important;
}

.overlay {
    background-color: rgba(211, 49, 82, 0.5);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}
.overlay1 {
    background-color: rgba(211, 49, 82, 0.5);
    display: none;
    height: 51%;
    left: 0;
    position: absolute;
    top: 48%;
    transform: skewY(-10deg);
    width: 50%;
}
.overlay2 {
    background-color: rgba(211, 49, 82, 0.5);
    display: none;
    height: 51%;
    position: absolute;
    right: 0;
    top: 48%;
    transform: skewY(10deg);
    width: 50%;
}
.career_rightside {
    padding-top: 50px;
}

.career_right_inner {
    margin-left: 25px;
    width: 85%;
    /*max-height: 350px;
    overflow-y: auto;*/
}

.each-career {
    margin: 0 10px;
}

.career_right_ul {
    list-style-type: none;
}

.career_right_li {
    margin: 0;
    width: 100%;
    color: #fff;
    cursor: pointer;
    color: #fff;
    padding-top: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

.career_right_li:hover {
    background-color: #ffffff;
    color: #ab1522;
}

.career_text {
    font-size: 18px;
}

.career_right_li:hover .career_text {
    color: #ab1522;
}

.svg-element-careers-top {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}

.svg-element-careers-top > img {
    width: 100%;
    height: auto;
}

.svg-element-careers-bottom {
    bottom: 0;
    height: auto;
    position: absolute;
    width: 100%;
}
.index_careeer_ancor{
    text-decoration: none!important;
}

/*career box index end here*/

/*testimonial start here*/
.testimonial_box1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.test_heading {
    font-size: 14px;
    text-align: center;
    color: #333;
    line-height: 1.5;
}

.testimonial_footer {
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #333;
}

.testimonial_slider > .carousel-indicators .active {
    background-color: #D33152;
    border: 1px solid #D33152;
}

.testimonial_slider > .carousel-indicators li {
    background-color: #0078D7;
    border: 1px solid #0078D7;
}

.testimonial_slider > .carousel-indicators {
    bottom: -25px;
}

.carrer_bottom {
    background: url(../images/elem-new.png);
    height: 107px;
    background-size: 100% 100%;
}

/*testimonial end here*/

/*strip index start here*/
.ltst_updtscntr {
    background: #e3e3e3 none repeat scroll 0 0;
    height: 27px;

    position: relative;
    width: 100%;
}

.strip_ancor {
    color: #000;
    line-height: 2;
}

.newimg {
    background: rgba(0, 0, 0, 0) url("../images/New_icons.gif") no-repeat scroll 0 0;
    float: right;
    height: 30px;
    right: 3px;
}

.marquee_strip {
    width: 99% !important;
    margin-left: 15px;
}

/*strip index end here*/
/* image and video gallery start here*/
.inr_title {
    background: #ab1522 none repeat scroll 0 0;
    border-bottom: 3px solid #770f18;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    height: 43px;
    line-height: 43px;
    padding-left: 50px;
    position: relative;
}

.inr_title i {
    height: 35px;
    left: 10px;
    position: absolute;
    top: 8px;
    width: 36px;
}

.photoglry_cntr {

    padding-left: 10px;
    padding-right: 10px;
}

.slider_imagegallery {
    /*border: 2px solid #ccc;*/

}
.flex-direction-nav a::before {
    display: table-column-group !important;
    content: "" !important;
}

.flex-control-nav {
    display: none;
}

.gallery-img {
    padding: 10px;
}

.gallery-video {
    height: 230px !important;
    max-width: 100% !important;
    padding: 6px;
}

.video-slider-li > li {
    padding: 10px;
}

.flexslider {
    margin: 0px !important;
}

.pad-left0 {
    padding-left: 0px !important;
}
/* image and video gallery end   here*/

/*
----------------------------------------------------------------------------------------------------------

    index end here

----------------------------------------------------------------------------------------------------------
*/


/*
----------------------------------------------------------------------------------------------------------

    About us part start here

-----------------------------------------------------------------------------------------------------------
*/
.aboutus-menu-box{
    background: #eee none repeat scroll 0 0;
    margin-top: 15px;
}
.about-us-content
{
    color: #ab1522;
    font-size: 28px;
    text-align: center;
}
.about-sub-heading
{
    color: #333;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
    padding: 0 15px;
}
.about-menu-ul
{
    list-style: none;
    display: inline;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.about-menu-li{
    display: inline-block;
    float: none;
    max-width: 250px!important;
    padding: 0;
    width: 100%!important;
    background: #AB1522;
    color: #fff;
    cursor: pointer;
}
.about-menu-li-active
{
    background: #C32882;
}
.img_nothov
{
    display: none;
}
.abt-content-main12
{
    margin-top: 40px;
}
.abt-social-img{
    margin-left: 42%;
}
.abt-heading{
    color: #ab1522;
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
    margin: 0 auto;
}
.abt-description
{
    color: #333;
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    margin: 5px auto 0;
    padding-left: 0;
    text-align: justify;
}
.abt-sub-description
{
    color: #333;
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    margin: 5px auto 0;
    padding-left: 0;
}
.abt-sub-heading
{
    color: #333;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    margin: 0 auto;
}
.abt-sub-description>ul{
    padding-left: 20px;
}
.about-detail-text li{
    //list-style: none!important;
}
.about-menu-ancor
{
    text-decoration: none!important;
    color: #FFFFFF;
}
.about-menu-ancor:hover
{
    color: #fff;
}
.abt-social-icon
{
    padding-top: 12px;
}
.abt-content-box
{
    margin-top: 30px;
    margin-bottom: 20px;
}
.foundation_image{
    max-width: 330px;
    margin-left: 20%;
}
/*IMAGE FACT START HERE*/
.abt-goal-imgages {
    width: 100%;
    height: auto;
}

.abt-img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #C32882;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.abt-img-row:hover .abt-img-overlay {
    height: 100%;
}

.abt-img-text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.about-detail-text{
    margin-right: 15px;
    margin-left: 15px;
}
/*IMAGE FACT END HERE*/

/*
-----------------------------------------------------------------------------------------------------------

    About us part end here

-----------------------------------------------------------------------------------------------------------
*/

/*
-----------------------------------------------------------------------------------------------------------

    PORTFOLIO part START here

-----------------------------------------------------------------------------------------------------------
*/
.portfoilio-header-main12
{
    background-color: #fff;
    margin-top: 20px;
}
.port-heading
{
    color: #AB1522;
    font-size: 36px;
    text-align: center;
    padding: 10px;
}
.selectport-box
{
    text-align: right;
}
.portfoilio-content-main12
{
    margin-top: 12px;
}
#portfolio-btn
{
    -moz-appearance: none!important;
    -webkit-appearance: none!important;
    height: 43px!important;
}
#portfolio-btn>option
{
    font-size: 14px;
    padding: 7px;
    cursor: pointer;
}
.portfolio-proj-slider
{
    margin-top: 30px;
    margin-bottom: 30px;
}
.port_slider-row
{
    margin-top: 10px;
    margin-bottom: 20px;
}
.sort-portf
{
    height: 43px;
    background: #AB1522!important;
}
.port-type-text
{
    font-size: 16px;
    letter-spacing: 1px;
    color: #ab1522;
}
.proj-name-text
{
    font-size: 16px;
    letter-spacing: .5px;
    cursor: pointer;
}
.proj-slider-row
{
    padding: 10px;
    padding-bottom:0px;
}
.proj-row
{
    padding: 10px;
}
.proj-slider-row{
    text-align: ce;
}
.projSlider
{
    height: 120px;
    text-align: center;
}
.proj-slider-row >.carousel
{
    box-shadow: 7px 6px 8px silver;
}
/*
-----------------------------------------------------------------------------------------------------------

    PORTFOLIO part END here

-----------------------------------------------------------------------------------------------------------
*/
/*
-----------------------------------------------------------------------------------------------------------

    Request puposal start here

-----------------------------------------------------------------------------------------------------------
*/
.req_pur_main_box{
    background: #ddd;
}
.req_pur_main_box1{
    background: #3b526c;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.req_pur_heading{
    font-size: 23px;
    line-height: 34px;
    color: #363636;
    font-weight: normal;
    text-align: center;
    margin: 0px;
}
.req_pur_inner_box
{
    background: #FFFFFF;
}
.safe_confi_text
{
    font-size: 12px;
    line-height: 34px;
    color: #abb4c0;
    margin: 0;
    position: absolute;
    right: 50px;
    top: 0px;
}
.req_pur_inner_box12
{
    margin-top: 30px;
    margin-bottom: 20px;
}
.purposal_form
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;

}
.purp-field-row{
    border-top:2px solid #eff3f6;
    border-bottom:2px solid #eff3f6;
}
.purp_icon
{
    width: 15%;
}
.purp_field{
    width: 80%;
}
.purp_desc_icon
{
    width: 5%;
}
.purp_desc_field{
    width: 95%;
}
.purp-textarea-fields
{
    border: none!important;
    padding-left: 5px;
    width: 100%;
    font-size:14px;
}
.purp-field-box
{
    display: flex;
    padding: 20px 5px;
    border-right:2px solid #eff3f6;
}
.purp-no-border
{
   border:none!important;
}
.purp-fields
{
    border: none!important;
    height: 40px;
    padding-left: 5px;
    width: 100%;
    font-size:14px;
    margin-top: -8px;
}
.purp_submit_field
{
    text-align: center;
    width: 100%;
}
.purp-submit-btn
{
    background: #ab1522 none repeat scroll 0 0;
    border: medium none;
    border-radius: 24px;
    color: #fff;
    font-size: 14px;
    height: 51px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    width: 23%;
}
.purp-send-button-span
{
    left: 57%;
    position: absolute;
    top: 37%;
    cursor: pointer;
}
.purp-select-box
{
    -moz-appearance: none!important;
    -webkit-appearance: none!important;
    width: 100%;!important;
    border: none;
}
.purp-select-box>option
{
    padding: 2px;
}
.serv-purp-textarea-fields{
    max-width: 100%!important;
}
.purp-textarea-fields{
    max-width: 100%!important;
}
/*
-----------------------------------------------------------------------------------------------------------

    Request puposal end here

-----------------------------------------------------------------------------------------------------------
*/
/*
-----------------------------------------------------------------------------------------------------------

    services page start  here

-----------------------------------------------------------------------------------------------------------
*/
.serv-header-compdata{
    display: none;
}
.services_main_box
{
    background: #DDDFE0;
}
.services_main_container
{
    background: #fff;
}
.mobile-develop-text
{
    font-size: 28px;
    line-height: 46px;
    width: 95%;
    color: #ab1522;
    max-height: 92px;
    text-overflow: ellipsis;
    font-weight: normal;
    text-align: center;
}
.mobile-dev-desc{
    width: 94%;
    font-size: 14px;
    line-height: 26px;
    color: #333;
    letter-spacing: .5px;
}
.serv-prop-heading
{
    width: 70%;
    font-size: 22px;
    line-height: 34px;
    margin: 0px;
    color: #ab1522;
    display: inline-block;
    font-weight: normal;
    margin-left: 12px;
}
.serv_confi_text_header
{
    float: right;
    display: inline-block;
    line-height: 34px;
    font-size: 12px;
    color: #abb4c0;
    margin: 0px;
}
.serv-prop-form-box
{
    border-left:1px solid #edefef;
}
.serv-purposal_form
{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
.serv-purp-field-row{
    border-top:2px solid #eff3f6;
    border-bottom:2px solid #eff3f6;
}
.serv-purp-field-box
{
    display: flex;
    padding: 20px 5px;
    border-right:2px solid #eff3f6;
}
.serv-purp_icon
{
    width: 24%;
}
.serv-purp_field{
    width: 80%;
}
.serv-purp_desc_icon
{
    width: 5%;
}
.serv-purp_desc_field{
    width: 95%;
}
.serv-purp-textarea-fields
{
    border: none!important;
    padding-left: 5px;
    width: 100%;
    font-size:14px;
}
.serv-purp-field-box
{
    display: flex;
    padding: 20px 2px;
    border-right:2px solid #eff3f6;
}
.serv-purp-no-border
{
    border:none!important;
}
.serv-purp-fields
{
    border: none!important;
    height: 40px;
    padding-left: 5px;
    width: 100%;
    font-size:12px;
    margin-top: -8px;
}
.serv-purp_submit_field
{
    text-align: center;
    width: 100%;
}
.serv-purp-submit-btn
{
    background: #ab1522 none repeat scroll 0 0;
    border: medium none;
    border-radius: 24px;
    color: #fff;
    font-size: 15px;
    height: 51px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    width: 40%;
}
.serv-purp-send-button-span
{
    left: 62%;
    position: absolute;
    top: 37%;
    cursor: pointer;
}
.serv-purp-select-box
{
    -moz-appearance: none!important;
    -webkit-appearance: none!important;
    width: 100%;!important;
    border: none;
}
.serv-purp-select-box>option
{
    padding: 2px;
}
.mobile-app-develpment
{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom:2px solid #eff3f6;
}
.saerv-y-sach-ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.serv-why-sach-head
{
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #fff;
    background-color: #AB1522;
    margin: 0px;
    border-bottom: 1px solid #d8dadd;
    padding: 25px 33px;
}
.saerv-y-sach-li:nth-child(2n+1){
    background-color: #f6f7f8;
}
.saerv-y-sach-li{
    background-image: url("../images/list-style.png");
    background-position: 33px 20px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #d8dadd;
    color: #333;
    font-size: 14px;
    font-weight: normal;
    line-height: 29px;
    padding: 10px 0 10px 63px;
    list-style: none;
}
.serv-capability-text
{
    font-size: 22px;
    color: #333;
    font-weight: bold;
}
.serv-capability-desc{
    -moz-box-orient: vertical;
    color: #333;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 26px;
}
.service-content-row
{
    margin-bottom: 10px;
    margin-top: 10px;
}
.serv-y-sach-desc
{
    border: 1px solid #d8dadd;
    border-bottom: none;
}
.bold{
    font-weight: bold;
}
.serv-capability-box
{
    margin-top: 15px;
}
.serv-capability-box>table>tbody>tr>th{
    background: #F6F7F8;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.serv-capability-box>table>tbody>tr>td{
    font-size: 14px;
    color: #333;
    font-weight:normal;
}
.serve-benefit-heading{
    float: left;
    width: 100%;
    font-size: 22px;
    color: #333;
    text-decoration: none;
    cursor: default !important;
    font-weight: normal;
}
.serve-benefit-list{
    border: solid 1px #D8D8D8;
    border-radius: 3px;
}
.serve-check-list{
    list-style: none;
    padding: 15px;
}
.serve-check-list>li:first-child {
    border-top: none;
    margin-top: 5px;
    font-size: 14px;
}
.serve-check-list>li{
    padding: 6px 0 6px 25px;
    background: url(../images/checked.png) no-repeat 0px 9px;
    border-top: solid 1px #d8d8d8;
    line-height: 20px;
    font-size: 14px;
    image-rendering: pixelated;
}

.serve-hire-desc
{
    padding: 15px 23px;
    border: solid 1px #d8d8d8;
    background: #eee;
    border-radius: 2px;
    margin-top: 20px;
    margin-right: 1px;
    margin-bottom: 7px;
}
.serve-hire-desc>ul
{
    width: 100%;
    float: left;
    list-style: none;
}
.serve-hire-desc>ul>li:first-child {
    border-top: none;
    padding-top: 0;
}
.serve-hire-desc>ul>li {
    width: 100%;
    float: left;
    padding: 5px 0;
    border-top: solid 1px #d1d1d1;
    font-size: 14px;
    color: #333;
}
.serve-getstarted-box{
    padding-top: 10px;
    text-align: center;
    width: 100%;
    float: left;
}
.serve-developer-img
{
    margin-top: 10px;
}
.serve-developer-img>img
{
    margin-left: 17%;
}
.serve-red_small
{
    color: #FFF!important;
    line-height: 15px;
    text-transform: capitalize;
    display: inline-block;
    border-radius: 3px;
    border: 0;
    background-color:#AB1522;
    padding: 14px 15px 14px;
    font-size: 18px;
    width: 100%;
    text-align: center;
    text-decoration: none!important;
}
.serve-red_small:hover
{
    background-color:#000;
    color: #fff !important;
}
.serve-developer-hiretext{
    margin-top: 5px;
}
.serve-developer-hiretext>p{
    margin-bottom: 0px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
    padding-bottom: 0px!important;
}
.serve-devl-hire-amount
{
    color: #AB1522;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: -0.055em;
    margin-left: 37%;
}
.serve-devel-section
{
    margin-bottom: 25px;
}
.serv-devel-banner
{
    border: solid 1px #D8D8D8;
    border-radius: 3px;
    padding: 20px 17px;
    height: 392px;
}
.serv-deve-ban-img{
    height: 180px!important;
}
.serve-deve-bann-a
{
    text-decoration: none!important;
    color: #333;
}
.serve-deve-bann-a:hover{
    color: #333;
}
.serve-banner-desc
{
    border-top: solid 1px #D8D8D8;
    margin-top: 10px;
    height: 100%;
}
.serve-banner-desc>p
{
    color: #333;
    font-size: 14px;
    margin-top: 5px;
}
.serve-banner-desc>span{
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    float: left;
    letter-spacing: .5px;
}
.serv-devel-banner>.carousel>.carousel-indicators>li
{
    background-color:#AB1522;
    border:#AB1522;
}
.serv-devel-banner>.carousel>.carousel-indicators{
    bottom: 5px!important;
}
.serv-devel-banner>.carousel>.carousel-indicators>.active
{
    background-color:#BE1A77;
    border:#BE1A77;
}
.serv-module
{
   font-size: 18px;
    color:#AB1522;
    letter-spacing: .5px;
}
.serv-comp-adva-ul
{
    line-height: 1.5;
    margin-left: 25px;
}
.serv-seo-heading > ul > li
{
    float: left;
    line-height: 24px;
}
.serv-seo-heading > ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 16px;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
}
.serve-seo-activelink {
    background: #efede8 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px 3px 0 0;
    color: #4a5967;
    padding: 17px 20px 7px;
}

.serve-seo-left-image{
    float: right;
    margin: 15px 0 0 0;
    text-align: center;
}
.serve-seo-head
{
    font-size: 18px;
    padding: 10px 0 15px;
    color: #333;
}
.serve_seo_heading
{
    font-size: 22px;
    font-weight: bold;
    padding: 10px 0 15px;
    text-align: center;
}
.serve-seo-head-box
{
    margin-bottom: 10px;
}
.serve-seo-main-box
{
    border-bottom: 2px solid #eff3f6;
    padding: 1px 45px;
    padding-bottom: 20px;
}
.serve-seo-package-list > ul{
    margin: 0px;
    padding: 0 0 15px 0;
    list-style-type: none;

}
.serve-seo-package-list > ul >li
{
    background: url(../images/checked.png) 0px 8px no-repeat;
    padding: 5px 0 2px 25px;
    margin: 0 0 5px 0;
    font-size: 16px;
    width: 47%;
    float: left;
}
.serve-seo-cont-box
{
    margin-top: 15px;
    padding-left: 18px;
}
.serv-seo-heading > ul > li > a{

    background: #ab1522;
    color: #fff;
    padding: 7px 20px;
    font-size: 18px;
    border-left: 1px solid #ab1522;
}
.seo-head-active
{
    background: #efede8 none repeat scroll 0 0!important;
    border: 1px solid #efede8 !important;
    border-left: none!important;
    color: #ab1522 !important;
    font-size: 18px!important;
    padding: 7px 20px!important;
}
.serv-seo-heading>ul >li >a{
    text-decoration: none!important;
}
.serve-seo-package-list
{
    display: none;
}

.serve-seo-left-image{
    display: none;
}
.global-seo-content
{
    display: block;
}
.serve-seo-section{
    margin-bottom: 20px;
}

/*
-----------------------------------------------------------------------------------------------------------

    services page end  here

-----------------------------------------------------------------------------------------------------------
*/
/*
-----------------------------------------------------------------------------------------------------------

    skill page start  here

-----------------------------------------------------------------------------------------------------------
*/
.skill-carousal-arrow{
    margin-top: 250px;
}
.skill-top-banner>.carousel>.carousel-indicators>li
{
    background-color:#AB1522;
    border:#AB1522;
}
.skill-top-banner>.carousel>.carousel-indicators>.active
{
    background-color:#BE1A77;
    border:#BE1A77;
}
.skill-content-main12
{
    margin-top: 40px;
}
.skill-content-box
{
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-heading{
    color: #ab1522;
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
    margin: 0 auto;
}
.skill-description
{
    color: #333;
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    margin: 5px auto 0;
    padding-left: 0;
    text-align: justify;
}
/*IMAGE FACT START HERE*/
/*.skill-goal-imgages {
    width: 100%;
    height: auto;
}

.skill-img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #C32882;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.skill-img-row:hover .skill-img-overlay {
    height: 100%;
}

.skill-img-text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}*/
/*IMAGE FACT END HERE*/

.skill-question{
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
    color: #fff;
    background-color: #AB1522;
    margin: 0px;
    border-bottom: 1px solid #d8dadd;
    padding: 25px 33px;
}
.skill-ans-text
{
    width: 80%;
}
.skill-ans-img
{
    width: 20%;
}
.skill-li-content
{
    display: flex;
}
.skill-ans-textImg
{
    width: 80%;
    color: #333;
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    margin: 5px auto 0;
    padding-left: 0;
    text-align: justify;
}
.skill-ans-imgText
{
    width: 20%;
    padding: 8px;
}
.skill-ques-ans{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #d8dadd #d8dadd currentcolor;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
}
.skill-ques-ans-li:nth-child(2n+1) {
    background-color: #f6f7f8;
}
.skill-ques-ans-li {
    background-image: url("../images/list-style.png");
    background-position: 33px 20px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #d8dadd;
    color: #333;
    font-size: 14px;
    font-weight: normal;
    line-height: 29px;
    list-style: outside none none;
    padding: 10px 0 10px 63px;
}
.skill-content-box{
    border-bottom: 1px solid #edefef;
    padding-bottom: 20px;
}
.skill-ques-box
{
    margin-top: 20px;
}
.student-testimonial-indicators>li
{
    background-color: #ab1522!important;
    border: #ab1522!important;
}
.student-testimonial-indicators{
    top: 95px!important;
}
.student-testimonial-indicators>li>active
{
    background-color: #BE1A77!important;
    border: #BE1A77!important;
}

.skill-stud-test-box:hover
{
    color: #333;
}
.skill-stud-test-heading{
    color: #ab1522;
    font-size: 22px;
    padding: 0;
    text-align: center;
    font-weight: bold;
}

.skill-stu-test-name{
    color: #333;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    width: 100%;
    margin-bottom: 2px!important;
}
.skill-stu-test-name:hover
{
    color: #333;
}

.skill-stud-test-box{
    width: 85%;
    float: left;
    margin-left: 15px;
}
.skill-stud-test-img
{
    width: 10%;
    float: left;
}
.student-testimonial{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100px;
}
.skill-stu-comment{
    text-align: left;
    color: #333;
    font-size: 14px;
}
.skill-stud-image-box
{
    background:url(../images/shutterstock_433408534.jpg) no-repeat;
    background-size:720px 480px;
    background-position:-160px 0px;
    height:100px;
    width:100px;
    border-radius:50%;
    overflow:hidden;
    margin:auto;
    float: left;
    margin-left: 10%;
}
.skill-testimonial-img
{
    height: 65px;
    width: 65px;
}
.skill-stud-test-box{
    text-decoration: none!important;
    color: #333;
}
.skill_motive{
    margin-top:70px;
}
.skill_technology{
    margin-left:75px;
}
/*
-----------------------------------------------------------------------------------------------------------

    skill page end  here

-----------------------------------------------------------------------------------------------------------
*/
/*
-----------------------------------------------------------------------------------------------------------

    career page start here

-----------------------------------------------------------------------------------------------------------
*/
.career_main_box
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.career-resp-tabs-list{
    float: left;
    padding-top: 0px;
    margin: 0px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.15);
    background: #fff;
    list-style: none;
    width: 100%;
}
.career-resp-tab-active
{
    margin-bottom: -1px !important;
    background-color: #AB1522 !important;
    border: medium none;
    z-index: 1;
}
.career-resp-tab-item{
    margin: 0;
    cursor: pointer;
    background: #fff;
    font-weight: 400;
    font-size: 15px;
    padding: 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    border-bottom: 1px solid #d2d8e1;
}
.career_product_tab_left > a {
    color: #333;
}
.career-resp-tab-active > .career_product_tab_left > a
{
    color: #fff!important;
}
.career-right-box-r
{
    box-shadow: 0 0 15px 0 rgba(0,0,0,.15);
    background: #fff;
    padding: 20px;
    margin-left: 25px;
}
.career_dev_heading
 {
    font-size: 22px;
    font-weight: normal;
    color: #AB1522;
 }
.career_heading{
    font-size: 18px;
    font-weight: normal;
}
.career_desc{
    width: 100%;
    text-align: left;
    color: #333;
    font-size: 14px;
    padding: 0px 0px 0 0;

}
.index_career_desc{
    width: 100%;
    text-align: left;
    color: #fff;
    font-size: 14px;
    padding: 0px 0px 0 0;

}
.career_apply_now{
    background: #ab1522;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    padding: 13px 13px;
    margin: 0 0;
    float: left;
    border: none;
}
.career_ability_box
{
    margin-top: 25px;
}


/* career modal start here */
.modal {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    padding: 20px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.get-touch-btn {
    background: #ab1522;
    color: #fff;
    width: 160px;
    font-size: 16px;
    padding: 10px 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
}
.career_submit_text
{
    color:#AB1522;
}
.career_desc_ul
{
    padding-left: 25px;
}
.career_loader{
    margin-top: 10px;
}
.car_app_file
{
    width:100%;
}

.career_top_heading
{
    color: #ab1522;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}

.career_top_heading:after{
    height: 15px;
    width: 50px;
    background: #ab1522;
}
.career_heading_bottomline{
    border: 2px solid #ab1522;
   /* margin-left: 68px;*/
    width: 70px;
    text-align: center;
}
.career_news_room_row
{
    margin-top: 20px;
}
.news_text_box{
    border: 1px solid #ddd;
    padding:10px;
}
.career_inr-news_heading{
    background: #ab1522 none repeat scroll 0 0;
    border-bottom: 3px solid #770f18;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    height: 43px;
    line-height: 43px;
    padding-left: 25px;
}
.career_news_img
{
    width: 250px;
    float: left;
    padding: 11px
}
.career_news_heading_box
{
    padding: 5px;
}
.career_news_text_box{
    max-height: 400px;
    overflow-y: auto;
}
.news_text_box
{
    margin-left: 5px;
}
.career_news_text
{
    line-height: 1.7;
    font-size: 14px;
    color: #333;
}
.career_news_box {
    padding: 10px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.career_quick_links_heading {
    background: #ab1522;
    border-bottom: 3px solid #770f18;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    position: relative;
    padding-left: 15px;
    height: 43px;
    line-height: 43px;
    margin-top: 15px;
}

.career_quick_heading {
    padding-left: 5px;
}
.career_latest_ancor{
    text-decoration: none!important;
    color: #333;
}
.career_latest_ancor:hover{
    color: #AB1522!important;
}
.career_quick_links_ul{
    max-height: 405px;
    overflow-y: auto;
    padding: 10px;
    list-style: none!important;
}
.career_quick_links_ul> .career_latest_ancor >li{
    border-bottom: 1px solid #d8dadd;
    color: #333;
    font-size: 14px;
    line-height: 21px;
    list-style: none;
    padding-bottom: 10px;
    padding-top: 5px;
}
.career_quick_links_ul> .career_latest_ancor >li:hover{
    color: #AB1522;
}
.career_workshop_row
{
    margin-top: 30px;
}

.career_workshop_content_text
{
    font-size: 14px;
    color: #333;
    line-height: 1.9;
}
.career_workshop_img
{
    height: 180px!important
}
.contactSuccessBtn{
    width: 150px;
    padding: 10px;
    font-size: 16px;
    background: #ab1522;
    border: none;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}
.contactSuccessRow
{
    text-align: center;
}
.inner-news-text-head {
    font-size: 16px;
    color: #ab1522;
}
.career_workshop_ul{
    margin-left: 30px;
}
.career_workshop_content_box1{
    margin-top: 10px;
}
.career_workshop_benefit{
    color: #AB1522;
}
/* career modal end here */

/*
-----------------------------------------------------------------------------------------------------------

    career page end here

-----------------------------------------------------------------------------------------------------------
*/
/*
-----------------------------------------------------------------------------------------------------------

    faq page start here

-----------------------------------------------------------------------------------------------------------
*/
.faq_points_red{
    color: #AB1522;
}
.faq-inner-main-box{
    margin-top: 10px;
    margin-bottom: 30px;
}
.faq-ques-content-box{
    border-bottom: 1px solid #e6e6e6;
    padding: 15px;
    margin-bottom: 10px;
}
.faq-quest-p{
    color: #333;
}
.faq-answer-p{
    color: #333;
}
.faq-question-word{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.7;
    color: #AB1522;
}
.faq-question-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
}
.faq-answer-word{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.7;
    color: #AB1522;
}
.faq-answer-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    margin-left: 13px;
}
.faq-answer-ul{
    color: #333;
    margin-left: 15px;
}
.faq-answer-ul>li{
    list-style:upper-alpha;
}
/*
-----------------------------------------------------------------------------------------------------------

    faq page end here

-----------------------------------------------------------------------------------------------------------
*/
@media only screen and (min-width: 220px) and (max-width: 768px) {
    .page_row_box
    {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;

        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }
    .page_ist_div {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 2;
        -webkit-order: 2;
        order: 2;
    }

    .page_2nd_div {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }
}
@media only screen and (min-width: 220px) and (max-width: 515px) {
    .rgt_fixed{
        display: none;
    }
    .index_slider_controller{
        margin-top: 85px;
    }
    .index_carousal_indicator{
        display: none;
    }
    .foundation_image{
        margin-left: 0%;
    }
}
@media only screen and (min-width: 595px) and (max-width: 1024px) {
    .rgt_fixed{
        display: none;
    }

}
/*media query for header start here */
@media only screen and (min-width: 220px) and (max-width: 1024px) {
    /*footer start here*/
    .footer-main-1{
        padding: 0px 0 40px;
    }
    .footer-contact{
        font-size: 16px;
    }
    .footer-p-text{
        font-size:14px;
    }
    .footer-comp-text{
        font-size: 14px;
    }
    /*footer end here*/
    /*header responsive start here*/
    .logo_box {
        float: right;
    }
    #nav-icon2 {
        height: 50px;
        margin: 25px auto 0px;
    }
    .social-icons-row {
        margin-right: 14%;
    }
    .social {
        font-size: 18px;
        margin-bottom: 10px !important;
        margin-right: 15px !important;
        margin-top: 12px;
    }
    .index_slider_botImg{
        display: none;
    }
    .rgt_fixed {
        top: 32%;
    }
    .main-menu-large {
        display: none;
    }
    #nav-icon1 {
        display: none;
    }
    #nav-icon2 {
        display: block;
    }
    .logo {
        height: 70px;
        margin-right: 10px;
        width: 200px;
        float: right;
    }
    /*header responsive end here*/
    /*index page start here*/
    .testimonial_slider{
        height: 254px;
    }
    .headings {
        font: 26px "AllerRg", Arial, Helvetica, sans-serif !important;
    }

    .service-name {
        font: 16px/135% "AllerLt", Arial, Helvetica, sans-serif !important;
    }

    .service-description > h3 {
        font: 16px/135% "AllerLt", Arial, Helvetica, sans-serif !important;
    }

    .service-description > p {
        font: 14px/135% "AllerLt", Arial, Helvetica, sans-serif !important;
    }

    .services-box-m1 {
        margin-top: 0px !important;
        margin-bottom: 5px !important;
    }
    .services-box-row {
        margin-top: 0px !important;
    }
    .news_box {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    .banner_image_box {
        margin-top: 15px !important;
    }
    .strip-box {
        margin-top: 15px;
    }

    .pad-left0 {
        padding-right: 0px !important;
    }

    .inr_title {
        font-size: 18px !important;
    }

    .inr_title i {
        top: 12px !important;
    }

    .gallery-video {
        heigh: 178px !important;
    }

    .marquee_strip {
        width: 87% !important;
    }

    .overlay2 {
        display: block !important;
        top: 38.6% !important;
        height: 61% !important;
        width: 50.1%;
    }

    .overlay1 {
        display: block !important;
        top: 38.6% !important;
        height: 61% !important;
    }

    .overlay {
        display: none !important;
    }

    .external-link {
        font-size: 18px !important;
    }

    .career_text {
        font-size: 14px !important;
    }

    .career_leftinner {
        padding-top: 80px !important;
    }

    .career_box_row {
        padding-top: 0px !important;
    }

    .index_career_desc {
        font-size: 16px;

    }

    .testimonial_box1 {
        margin-top: 0px !important;
    }

    .headings {
        font-size: 22px !important;
    }

    .testimonial_footer {
        font-size: 14px !important;
    }

    .test_heading {
        font-size: 14px !important;
    }

    .whats_heading {
        font-size: 18px !important;
    }
    .quick_heading
    {
        font-size: 18px!important;
    }
    .cart_view
    {
        left:5px!important;
        top: 2px!important;
        width:80% !important;
        padding:8px!important;
    }
    .slider_cart_desc{
        font-size:12px!important;
        min-height: 0!important;
    }
    .whats_text{
        font-size: 13px!important;
    }
    .quick_text
    {
        font-size: 13px!important;
    }
    .index_career_desc
    {
        font-size: 16px!important;
        color: #fff;
    }
    .career_text_heading
    {
        font-size: 18px!important;
    }
    .cart_view_logo
    {
        left:10px!important;
        top: 10px!important;
        padding: 10px!important;
    }
    .slider_logo {
        height: 60px!important;
        width: 120px!important;
    }
    .testimonial_box1
    {
        background: #ffffff;
    }
    /*index page end here*/

    /*career page start here*/
    .career_main_box{
        padding-left: 15px;
        padding-right: 15px;
    }
    /*career page end here*/
    /*services page start here*/
    .mobile-develop-text{
        line-height:1.4;
        font-size:22px;
        width: 100%;
    }
    .serv-prop-form-box{
        border: none;
    }
    .mobile-dev-desc{
        width:100%;
        line-height:1.6;
    }
    .serv-prop-heading{
        font-size: 18px;
        width: 100%;
    }
    .serv_confi_text_header{
        float: left;
        margin-left: 10px;
    }
    .serv-purposal_form{
        margin-top: 0px;
    }
    .serv-purp-field-box{
        border:none;
        border-bottom: 1px solid #eff3f6;
        padding: 20px 0px;
    }
    .serv-purp-field-row{
        border-top: 2px solid #eff3f6;
    }
    .serv-purp-submit-btn{
        width: 100%;
        font-size: 14px;
    }
    .serv-purp-send-button-span{
        float: left;
        left: 85%!important;
        top: 40%;
    }
    .serv-purp-send-button-span>img
    {
        max-width: 80%;
    }
    .serv-why-sach-head{
        font-size: 16px;
        padding: 10px 10px;
        line-height:1.5;
    }
    .saerv-y-sach-li{
        padding:10px 0 10px 30px;
        background-position:10px 16px;
        line-height:1.7;
    }
    .service-content-row{
        margin-bottom: 0px;
    }
    .serv-capability-text
    {
        font-size: 18px;
    }
    .serv-capability-desc{
        line-height: 1.6;
    }
    .serv-capability-box > table > tbody > tr > th{
        font-size: 14px;
    }
    .serve-benefit-heading{
        font-size: 18px;
    }
    .serv-devel-banner-box12{
        padding: 0px;
    }
    .serv-devel-banner{
        height: 425px;
    }
    .serve-check-list
    {
        background: #fff;
    }
    .serve-hire-desc{
        margin-left: 1px;
        padding: 16px 10px;
    }
    .serve-red_small{
        font-size: 16px;
    }
    .serv-header-compdata
    {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
    .serv-module{
        font-size: 16px;
    }
    .serv-seo-heading > ul > li > a{
        font-size: 14px;
    }
    .serv-seo-heading > ul > li{
        line-height: 38px;
    }
    .seo-head-active{
        font-size: 14px!important;
    }
    .serve-seo-head{
        font-size: 16px;
        font-weight: 500;
        padding: 0 0 5px;
    }
    .serve-seo-package-list > ul > li{
        width: 100%;
        font-size:14px;
    }
    .serve_seo_heading{
        padding:0px;
        font-size:18px;
    }
    .serve-seo-head-box
    {
        margin-bottom: 0px;
    }
    .serve-seo-left-image{
        float: left;
    }
    /*services page end here*/

    /*contact start here*/
    .contacthead{
        font-size:18px;
        margin: 0 0;
    }
    .bottomline{
        width: 50px;
        margin-left: 16px;
    }
    .banner{
        padding-left: 15px;
        padding-right: 15px;
    }
    .redHeader{
        font-size: 18px;
        padding: 16px;
    }
    .addressHead2
    {
        margin-bottom: 0px;
    }
    .contact_map_box{
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 10px;
    }
    .contact-address-box{
        padding-bottom: 50px;
    }
    .contact-address-follow{
        padding-bottom: 0px;
    }
    /*contact end here*/
    /*career start here*/
    .career-right-box-r{
        margin-top: 10px;
        margin-left: -15px;
    }
    .career_news_box{
        margin-top: 15px;
    }
    .career_workshop_content_box{
        padding: 15px;
    }
    .career_workshop_content_text{
        line-height: 1.7;
    }
    .career_top_heading{
        font-size: 22px;
    }

    /*career end here*/
    /*faq start here*/
    .faq-inner-main-box{
        padding: 0px;
    }
    /*faq end here*/
    /*about us start here*/
    .about-us-content{
        font-size: 22px;
    }
    .about-sub-heading{
        font-size: 14px;
        line-height: 1.7;
    }
    .about-menu-li{
        margin-top: 5px;
        margin-bottom: 5px;
        max-width: none!important;
    }
    .aboutus-menu-box{
        background: none;
    }
    .abt-content-box{
        margin-top: 0px;
    }
    .abt-heading{
        font-size: 18px;
        line-height: 1.5;
        margin-top: 10px;
    }
    .abt-content-main12{
        margin-top: 20px;
    }
    .abt-content-inner-box{
        padding: 0px;
    }

    /*about us end here*/
    /*skill start here*/
    .skill-content-main12{
        margin-top: 10px;
    }
    .skill-ques-ans-li{
        background-position:7px 20px;
        padding: 9px 0 0px 23px;
    }
    .skill-carousal-arrow{
        margin-top: 50px;
    }
    .skill-heading{
        margin-top: 5px;
        font-size: 18px;
    }
    .skill-ans-textImg{
        width: 60%;
    }
    .skill-ans-imgText{
        width: 60%;
    }
    .skill-stud-test-box{
        width: 100%;
        margin-top:15px;
    }
    .student-testimonial-indicators{
        top: 200px!important;
    }
    .skill_technology{
        margin-left: 0px;
    }

    /*skill end here*/
    /*prposal start here*/
    .req_pur_main_box1{

    }
    .req_pur_heading{
        font-size: 18px;
        text-align: left;
    }
    .safe_confi_text{
        top:20px!important;
        left: 0!important;
    }
    .req_pur_main_box1{
        padding:0px!important;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .purp-field-box{
        border-right: none;
        border-bottom: 2px solid #eff3f6;
    }
    .purp-submit-btn{
        width: 100%;
    }
    .purp-send-button-span{
        left: 78%;
    }
    .purp_boxbtn_top{
        padding: 0px;
    }
    /*prposal end here*/

}

@media only screen and (min-width: 240px) and (max-width: 320px) {
    /*header responsive start here*/
    #nav-icon2 {
        margin: 20px auto 0 !important;
    }
    .logo {
        width: 124px !important;
        height: 60px !important;
    }

    .social {
        font-size: 16px !important;
        margin-right: 10px !important;
    }

    .small-menu-ancor {
        font-size: 14px !important;
    }

    .small-submenu-ancor {
        font-size: 14px !important;
    }

    /*header responsive end   here*/
    /*footer start here*/
    .footer-address-box1
    {
        padding: 0px!important;
    }
    .footer-comp-box
    {
        margin-left:0%!important;
        padding:11px!important;
        width: 100%;
    }
    .social_footer
    {
        margin-left: 4px!important;
        margin-right: 4px!important;
    }
    /*footer end here*/
    /*index page start here*/
    .slider_bottom
    {
        height: 20px!important;
    }
    .rgt_fixed
    {
        display: none!important;
    }
    .testimonial_slider{
        height: 362px;
    }
    .index_slider_controller {
        margin-top: 30px;
    }
    /*index page end here*/
    /*services start here*/
    .serv-seo-heading > ul > li > a{
        font-size: 12px;
        padding:5px 5px;
    }

    .serve-seo-head{
        font-size: 14px;
        font-weight: bold;
    }
    .seo-head-active{
        font-size: 12px!important;
        padding:5px 5px!important;
    }
    .serve-seo-package-list > ul > li{
        font-size: 12px;
    }
    /*services end here*/
    /*contact us start here*/
    .label-danger{
        font-size: 70%!important;
    }
    .contact-button {
        width: 130px;
    }
    .contact-address-box{
        padding-bottom: 90px;
    }
    .contact-address-follow{
        padding-bottom: 0px;
    }
    .contactsocialIcon a i{
        margin-left: 8px;
    }
    .contact-address-box>div>p{
        font-size: 12px;
    }
    /*contact us end here*/
    /*portfolio start here*/
    .dropdown-menu{
        float:right!important;
        left:10%!important;
        right:0;
    }
    /*portfolio end here*/
    /*about su start here*/
    .student-testimonial-indicators
    {
        top:332px!important;
    }
    .student-testimonial{
        height: 320px;
    }
    .skill-carousal-arrow{
        margin-top: 30px;
    }
    /*about su end  here*/
    /*proposal start here*/
    .purp-field-box{
        padding: 20px 0px!important;
    }
    .purp-send-button-span{
        left:84%!important;
    }
    .purp-textarea-fields{
        height: 130px;
    }
    /*proposal end here*/
    .index_slider_controller{
        margin-top: 32px;
    }

}

@media only screen and (min-width: 295px) and (max-width: 320px) {
    .logo {
        height: 65px !important;
        width: 160px !important;
    }

    .social-icons-row {
        margin-right: 23% !important;
    }
    .contact-address-box{
        padding-bottom:50px;
    }
    /*index start here*/
    .testimonial_slider{
        height: 283px;
    }
    .index_slider_controller {
        margin-top: 40px;
    }
    /*index end here*/
    /*skill start here*/
    .student-testimonial-indicators
    {
        top:270px!important;
    }
    .student-testimonial{
        height: 260px;
    }
    /*skill end here*/
    /*portfolio start here*/
    .dropdown-menu{
        float:right!important;
        left:10%!important;
        right:0;
    }
    /*portfolio end here*/
    /*proposal start here*/
    .purp-submit-btn{
        width: 80%;
    }
    .purp-send-button-span{
        left: 77%!important;
    }
    /*proposal end here*/

}

/*--- Mobile portrait ---*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
    /*footer start here*/
    .footer-comp-box{
        width: 100%!important;
        margin-left: 0;
    }
    /*footer end here*/
    /*header responsive start here*/
    .social-icons-row {
        margin-right: 19% !important;
    }

    .social {
        margin-right: 15px !important;
    }
    /*header responsive end here*/
    /*index start here*/
    .index_slider_controller{
        margin-top: 47px;
    }
    .testimonial_slider{
        height: 230px;
    }
    /*index end here*/
    /*service start here*/
    .serve-seo-head{
        font-size:16px;
        font-weight: 500;
    }
    .serve-seo-package-list > ul > li{
        font-size: 14px;
    }
    .contact-address-box{
        padding-bottom:50px;
    }
    .contactsocialIcon a i{
        margin-left: 12px;
    }
    /*service end here*/

    /*portfolio start here*/
    .dropdown-menu{
        float:right!important;
        left:20%!important;
        right:0;
    }
    /*portfolio end here*/
    /*about su start here*/
    .student-testimonial-indicators
    {
        top:210px!important;
    }
    .skill-carousal-arrow{
        margin-top: 50px;
    }
    /*about su end  here*/
    /*proposal start here*/
    .purp-submit-btn{
        width: 70%;
    }
    .purp-send-button-span{
        left: 73%!important;
    }
    /*proposal end here*/
    /*skill start here*/
    .student-testimonial-indicators
    {
        top:255px!important;
    }
    .student-testimonial{
        height: 240px;
    }
    /*skill end here*/

}

/*--- Mobile landscape ---*/
@media only screen and (min-width: 480px) and (max-width: 595px) {
    .index_slider_controller{
        margin-top: 76px;
    }
    .social-icons-row {
        margin-right: 32% !important;
    }

    /*footer start here*/
    .footer-address-box1{
        padding: 0px!important;
    }
    .footer-comp-box
    {
        margin-left: 0px!important;
        width: 100%!important;
    }
    /*footer end here*/
    /*index start here*/
    .slider_bottom{
        height:33px!important;
    }
    .cart_view{
        top:16px!important;
        width: 54%!important;
    }
    .slider_cart_desc
    {
        font-size: 18px!important;
    }
    .slider_logo {
        height: 80px!important;
        width: 160px!important;
    }
    .gallery-img
    {
        width: 120px!important;
    }
    .overlay1
     {
         height: 65%!important;
        top:37%!important;
    }
    .overlay2
    {
        height: 65%!important;
        top:37%!important;
    }
    .marquee_strip
    {
        width: 94%!important;
    }
    .testimonial_slider{
        height: 180px;
    }
    /*index end here*/
    /*portfolio start here*/
    .dropdown-menu{
        float:right!important;
        left:55%!important;
        right:0;
    }
    /*portfolio end here*/
    /*about us start here*/
    .about-menu-li{
        max-width: 210px!important;
    }
    .student-testimonial-indicators
    {
        top:175px!important;
    }
    /*about us end here*/
    /*proposal start here*/
    .purp-submit-btn{
        width: 50%;
    }
    .purp-send-button-span{
        left: 65%!important;
    }
    /*proposal end here*/
    /*skill start here*/
    .student-testimonial-indicators
    {
        top:190px!important;
    }
    .student-testimonial{
        height: 175px;
    }
    /*skill end here*/

}
@media only screen and (min-width: 480px) and (max-width: 515px) {
    /*services start here*/
    .serv-purp-submit-btn{
        width:45%;
    }
    .serv-purp-send-button-span{
        left: 66%!important;
    }
    .serv-devel-banner{
        height: 380px;
    }
    .serve-devl-hire-amount{
        margin-left: 42%;
    }
    .serve-developer-img > img{
        margin-left: 30%;
    }
    /*services end here*/

}
/*--- Small tablet portrait ---*/
@media only screen and (min-width: 595px) and (max-width: 600px) {
    .index_slider_controller{
        margin-top: 120px;
    }
    .footer-comp-box
    {
        width: 70%!important;
    }
    /*index start here*/
    .testimonial_slider{
        height: 160px;
    }
    /*index end here*/
    /*portfolio start here*/
    .dropdown-menu{
        float:right!important;
        left:55%!important;
        right:0;
    }
    /*portfolio end here*/
    /*about us start here*/
    .about-menu-li{
        max-width: 230px!important;
    }
    .skill-carousal-arrow{
        margin-top: 120px;
    }
    /*about us end here*/
    /*proposal start here*/
    .purp-submit-btn{
        width: 40%;
    }
    .purp-send-button-span{
        left: 62%!important;
    }
    /*proposal end here*/
}

@media only screen and (min-width: 600px) and (max-width: 690px) {

   /*header start here*/
    .social {
        margin-right: 20px !important;
    }

    .social-icons-row {
        margin-right: 31% !important;
    }
    /*header end here*/
    /*footer start here*/
    .footer-comp-box {
        margin-left: 15%;
        margin-top: 30px;
        width: 70%;
    }
    .footer-address-box1
    {
        padding: 0px!important;
    }
    /*footer end here*/
    /*index start here*/
    .slider_bottom{
        height:33px!important;
    }
    .cart_view{
        top:16px!important;
        width: 54%!important;
    }
    .slider_cart_desc
    {
        font-size: 18px!important;
    }
    .slider_logo {
        height: 80px!important;
        width: 160px!important;
    }
    .gallery-img
    {
        width: 120px!important;
    }
    .marquee_strip
    {
        width: 95%!important;
    }
    .overlay2
    {
        height:69%!important;
        top: 35%!important;
        width: 50%!important;
    }
    .overlay1
    {
        height: 69%!important;
        top: 35%!important;
    }
    .testimonial_slider{
        height: 150px;
    }
    .index_carousal_indicator{
        bottom: 0px;
    }
    /*index end here*/
    /*services start here*/
    .serv-purp-submit-btn{
        width: 50%;
    }
    .serv-purp-send-button-span{
        left: 63%!important;
    }
    .serve-developer-img > img
    {
        margin-left: 36%;
    }
    .serve-devl-hire-amount{
        margin-left: 44%;
    }
    .serv-devel-banner{
        height: 370px;
    }
    /*services end here*/
    /*portfolio start here*/
    .dropdown-menu{
        float:right!important;
        left:55%!important;
        right:0;
    }
    /*portfolio end here*/
    /*about us start here*/
    .about-menu-li{
        max-width: 250px!important;
    }
    .skill-carousal-arrow{
        margin-top: 120px;
    }
    .skill-stud-test-box{
        width: 84%;
    }
    .student-testimonial-indicators{
        top: 110px!important;
    }
    /*about us end here*/
    /*skill start here*/
    .student-testimonial-indicators
    {
        top:120px!important;
    }
    .student-testimonial{
        height: 105px;
    }
    /*skill end here*/
}

/*--- Tablet portrait ---*/
@media only screen and (min-width: 690px) and (max-width: 768px) {
    /*header start here*/
    .social {
        margin-right: 20px !important;
        font-size: 20px !important;
    }
    .social-icons-row {
        margin-right: 32% !important;
    }
    /*header end here*/
    /*footer start here*/
    .footer-comp-box {
        margin-left: 15%;
        margin-top: 30px;
        width: 70%;
    }
    .footer-address-box1
    {
        padding: 0px!important;
    }
    /*footer end here*/
    /*index start here*/
    .index_carousal_indicator{
        bottom: 0px;
    }
    .index_slider_controller{
        margin-top: 140px;
    }
    .slider_bottom{
        height:33px!important;
    }
    .cart_view{
        top:16px!important;
        width: 54%!important;
    }
    .slider_cart_desc
    {
        font-size: 18px!important;
    }
    .slider_logo {
        height: 80px!important;
        width: 160px!important;
    }
    .gallery-img
    {
        width: 120px!important;
    }
    .marquee_strip
    {
        width: 95%!important;
    }
    .overlay2
    {
        height:69%!important;
        top: 35%!important;
        width: 50%!important;
    }
    .overlay1
    {
        height: 69%!important;
        top: 35%!important;
    }
    .banner_image_box{
        width: 60%!important;
    }
    .testimonial_slider{
        height: 140px;
    }
    /*index end here*/
    /*services start here*/
    .serv-purp-submit-btn{
        width:37%;
    }
    .serv-purp-send-button-span{
        left: 60% !important;
    }
    .serve-developer-img > img{
        margin-left: 39%;
    }
    .serve-devl-hire-amount{
        margin-left: 45%;
    }
    .serv-devel-banner{
        height: 370px;
    }
    .serve-seo-package-list > ul > li{
        width: 50%;
    }
    /*services end here*/
    /*portfolio start here*/
    .dropdown-menu{
        float:right!important;
        left:55%!important;
        right:0;
    }
    /*portfolio end here*/
    /*about us start here*/
    .about-menu-li{
        max-width: 176px!important;
    }
    .aboutus-menu-box{
        background: #eee none repeat scroll 0 0;
    }
    .abt-goal-imgages{
        height: 400px!important;
    }
    .skill-carousal-arrow{
        margin-top: 120px;
    }
    .skill-stud-test-box{
        width: 84%;
    }
    .student-testimonial-indicators{
        top: 110px!important;
    }
    /*about us end here*/
    /*proposal start here*/
    .purp-submit-btn{
        width: 30%;
    }
    .purp-send-button-span{
        left: 59%!important;
    }
    /*proposal end here*/
}

/*--- Tablet portrait ---*/
@media only screen and (min-width: 769px) and (max-width: 800px) {
    /*index start here*/
    .testimonial_slider{
        height: 140px;
    }
    .index_carousal_indicator{
        bottom: 0px;
    }
    /*index end here*/
    /*portfolio start here*/
    .dropdown-menu{
        float:left !important;
        left:0!important;
    }
    /*portfolio end here*/
    /*about us start here*/
    .about-menu-li{
        max-width: 185px!important;
    }
    .aboutus-menu-box{
        background: #eee none repeat scroll 0 0;
    }
    .skill-carousal-arrow{
        margin-top: 120px;
    }
    .skill-stud-test-box{
        width: 84%;
    }
    .student-testimonial-indicators{
        top: 120px!important;
    }
    .student-testimonial{
        height: 110px;
    }
    /*about us end here*/
    /*proposal start here*/
    .purp-submit-btn{
        width: 30%;
    }
    .purp-send-button-span{
        left: 59%!important;
    }
    /*proposal end here*/
}

/*--- Small tablet landscape ---*/
@media only screen and (min-width: 800px) and (max-width: 1024px) {
    /*header start  here*/
    .right_nav_bars {
        float: left !important;
    }
    .social {
        margin-right: 10px !important;
        margin-top: 24px !important;
    }
    .social-icons-row {
        margin-right: 0px !important;
    }
    /*header end  here*/

    /*footere start here*/
    .footer-comp-box{
        width: 98%!important;
    }
    .footer-main-1{
        padding: 20px 0 40px;
    }
    /*footer end here*/
    /*index start here*/
    .index_carousal_indicator{
        bottom: 0px;
    }
    .testimonial_slider{
        height: 135px;
    }
    /*index end here*/
    /*services start here*/
    .serv-purp-submit-btn{
        width: 68%;
    }
    .serv-purp-send-button-span{
        left: 66%!important;
    }
    .serv-devel-banner-box12{
        padding-left: 15px;
    }
    /*services end here*/
    /*portfolio start here*/

    /*portfolio end here*/

    /*about us start here*/
    .about-menu-li{
        max-width: 195px!important;
    }
    .aboutus-menu-box{
        background: #eee none repeat scroll 0 0;
    }
    .skill-carousal-arrow{
        margin-top: 180px;
    }
    .skill-stud-test-box{
        width: 84%;
    }
    .student-testimonial-indicators{
        top: 120px!important;
    }
    .skill_technology{
        margin-left: 25px;
    }
    .student-testimonial{
        height: 110px;
    }
    /*about us end here*/
    /*proposal start here*/
    .purp-submit-btn{
        width: 25%;
    }
    .purp-send-button-span{
        left: 58%!important;
    }
    .purp-field-box{
        border-right: 2px solid #eff3f6;
        border-bottom: medium none;
    }
    .req_pur_main_box1{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /*proposal end here*/
}

/*--- Tablet landscape --- */
@media only screen and (min-width: 1024px) and (max-width: 1224px) {
    /*index page start here*/

    .slider_bottom{
        height:48px!important;
    }
    .cart_view{
        top:54px!important;
        width: 39%!important;
    }
    .services-box-row
    {
        margin-top: 14px!important;
    }

    .slider_cart_desc
    {
        font-size: 18px!important;
    }
    .slider_logo {
        height: 80px!important;
        width: 160px!important;
    }

    .marquee_strip
    {
        width: 96.7%!important
    }
    .overlay2
    {
        display: none!important;
    }
    .overlay1
    {
       display: none!important;
    }
    .overlay
    {
        display: block!important;
    }
    .gallery-video{
        height: 179px!important;
    }
    .banner_image_box
    {
        margin-top: 20px!important;
    }

    /*index page end here*/
    /*career start here*/
    .career_news_box{
        margin-top: 0px;
    }
    .career-right-box-r{
        margin-left: 25px;
    }
    /*career end here*/
}

/*media query for header end here */

/*only for height responsive start here*/
@media only screen and (min-width: 240px) and (max-width: 320px)  and (min-height: 240px) and (max-height: 320px) {
    .rgt_fixed {
        top: 52% !important;
    }
}
@media only screen and (min-height: 240px) and (max-height: 480px) {
    .rgt_fixed {
        display: none!important;
    }
}

/*only for height responsive end   here*/

