.form-container{
    margin-top:5% ;
}
.form-header{
    text-align: center;
    letter-spacing: 2px;
    font-size: 19px;
}
.form-text{
    border-bottom: 1px lightgray solid;
}
.form-content{
    margin: 3%;
}
.form-field{
    margin-top: 1%;
}
.no-gutter{
    margin:0px;
    padding: 0px;
}
